@using Sitecore.Foundation.CommerceServer.Interfaces
@using Sitecore.Foundation.CommerceServer.Models
@using Sitecore.Foundation.CommerceServer.Utils
@model Sitecore.Feature.Navigation.Models.NavigationViewModel

@if (Model?.ChildCategories == null || !Model.ChildCategories.Any())
{
    return;
}

@using (Html.BeginForm())
{
    @Html.Hidden("catalogIdName", Model.CategoryId.ToString(), new { id = "catalogId" });
}

<div id="B06-Navigation" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs-block" href="#">@Model.StoreTitle</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            @{
                foreach (var category in Model.ChildCategories)
                {
                    var cModel = new CategoryViewModel(category);
                    <li><a href="@cModel.GetLink()" itemid="@cModel.Item.ID.ToString()">@cModel.DisplayNameRender</a></li>
                }
            }
        </ul>
    </div>
    <div>
    </div>
</div>