@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Feature.Cart
@using Sitecore.Foundation.CommerceServer.Infrastructure.Constants
@using Sitecore.Mvc
@model Sitecore.Feature.Cart.Models.OrderConfirmationViewModel

<div id="orderConfirmationContainer" class="wrap-main-content">
    <div id="##" class="wrap-content-title-text">
        <div class="col-md-6" id="printConfirmationArea">
            <h1>
                @Html.Sitecore().Field("Title", Html.Sitecore().CurrentItem)
            </h1>
            <p>
                @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.EmailNotificationMessageLabel.ToString(), Html.Sitecore().CurrentItem)
            </p>
            <h3>
                @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.OrderInformationLabel.ToString(), Html.Sitecore().CurrentItem.Children["Order Confirmation"]):
            </h3>
            <p class="order-number">
                @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.ConfirmationNumberLabel.ToString(), Html.Sitecore().CurrentItem.Children["Order Confirmation"]): <span>@Model.ConfirmationId</span>
            </p>
            <p class="order-status">
                @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.StatusLabel.ToString(), Html.Sitecore().CurrentItem.Children["Order Confirmation"]): <span>@Model.OrderStatus</span>
            </p>
            <p>
                @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.EmailSentMessage.ToString(), Html.Sitecore().CurrentItem.Children["Order Confirmation"])
            </p>
            <span class="receipt-button">
                <a href="#" id="printButton" onclick="printPage()">
                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    @Html.Sitecore().Field(Templates.OrderConfirmationCheckoutStep.Fields.PrintReceiptLabel.ToString(), Html.Sitecore().CurrentItem.Children["Order Confirmation"])
                </a>
            </span>
        </div>
        <div class="col-md-6 spot-single-image">@Html.Sitecore().Field("Image", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "class", "img-responsive" } } })</div>
    </div>
</div>
