@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using Sitecore.Feature.Account.Models.InputModels;
@using Sitecore.Feature.Account;
@using Sitecore.Foundation.CommerceServer.Managers;
@using Sitecore.Mvc

@{
    //Labels
    var currentPage = Html.Sitecore().CurrentItem;
    var currentPassword = Html.Sitecore().Field(Templates.ChangePassword.Fields.CurrentPassword.ToString(), currentPage);
    var newPassword = Html.Sitecore().Field(Templates.ChangePassword.Fields.NewPassword.ToString(), currentPage);
    var repeatPassword = Html.Sitecore().Field(Templates.ChangePassword.Fields.RepeatPassword.ToString(), currentPage);
    var saveChanges = currentPage[Templates.ChangePassword.Fields.SaveChangesButton.ToString()];
    var savingChanges = currentPage[Templates.ChangePassword.Fields.SavingChangesButton.ToString()];
    var cancel = Html.Sitecore().Field(Templates.ChangePassword.Fields.CancelButton.ToString(), currentPage);
    var backtoMyAccount = Html.Sitecore().Field(Templates.ChangePassword.Fields.BackToMyAccount.ToString(), currentPage);

    var passwordRequiredMsg = currentPage[Templates.ChangePassword.Fields.CurrentPasswordRequiredMessage.ToString()];
    var passwordsMustMatchMsg = currentPage[Templates.ChangePassword.Fields.PasswordAndConfirmationMustMatchMessage.ToString()];
    var passwordMinLengthMsg = currentPage[Templates.ChangePassword.Fields.ThePasswordLengthMessage.ToString()];
}

<form action="/api/sitecore/Account/ChangePassword" data-ajax="true" data-ajax-begin="SetChangePasswordProcessingButton" data-ajax-failure="ChangePasswordFailure" data-ajax-method="Post" data-ajax-success="ChangePasswordSuccess" id="ChangePasswordForm" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="wrap-main-content">
        <!-- CONTENT CONTAINER -->
        <div id="" class="row">
            <div class="col-md-12 border-bottom"><h1><span class="back-to-myaccount pull-right"><a href="@StorefrontManager.StorefrontUri("/accountmanagement")"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> @backtoMyAccount</a></span></h1></div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="OldPassword">@currentPassword <span class="required">*</span> </label>
                        <input id="OldPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="OldPassword"
                               data-val-required="@passwordRequiredMsg"
                               autocomplete="off"> 
                        <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>                      
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">@newPassword <span class="required">*</span> </label>
                        <input id="NewPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="NewPassword"
                               data-val-length-min="6"
                               data-val-length-max="100"
                               data-val-required="@passwordMinLengthMsg"
                               data-val-length="@passwordMinLengthMsg"
                               data-val="true"
                               autocomplete="off">
                        <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">@repeatPassword <span class="required">*</span> </label>
                        <input id="ConfirmPassword"
                               class="form-control input-validation-error"
                               type="password"
                               value=""
                               name="ConfirmPassword"
                               data-val-required="@passwordMinLengthMsg"
                               data-val-equalto-other="*.NewPassword"
                               data-val-equalto="@passwordsMustMatchMsg"
                               data-val="true"
                               autocomplete="off">
                        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 border-top">
            <input type="submit" data-loading-text="@savingChanges" value="@saveChanges" class="btn btn-primary" id="changePasswordButton" />
            <a type="button" href="@StorefrontManager.StorefrontUri("/accountmanagement")" class="btn btn-default">@cancel</a>
        </div>
    </div>
</form>
