@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@

@using Sitecore.Feature.Account;
@using Sitecore.Foundation.CommerceServer.Managers;
@using Sitecore.Mvc
@{
    var submitting = @Html.Sitecore().CurrentItem[Templates.ForgotPassword.Fields.Submitting.ToString()];
    var emailLabel = @Html.Sitecore().Field(Templates.ForgotPassword.Fields.Email.ToString(), Html.Sitecore().CurrentItem);
    var emailLabelPlaceholder = @Html.Sitecore().CurrentItem[Templates.ForgotPassword.Fields.Email.ToString()];
    var subject = @Html.Sitecore().Field(Templates.EmailSender.Fields.Subject.ToString(), Html.Sitecore().CurrentItem).ToString();
    var body = @Html.Sitecore().Field(Templates.EmailSender.Fields.Subject.ToString(), Html.Sitecore().CurrentItem).ToString();
}

<form action="/api/sitecore/Account/ForgotPassword" data-ajax="true" data-ajax-begin="SetForgotPasswordProcessingButton" data-ajax-failure="ForgotPasswordFailure" data-ajax-method="Post" data-ajax-success="ForgotPasswordSuccess" id="ForgotPasswordForm" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- CONTENT CONTAINER -->
    <div id="" class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p>@Html.Sitecore().Field(Templates.ForgotPassword.Fields.FillFormMessage.ToString(), Html.Sitecore().CurrentItem)</p>
                    <p>&nbsp;</p>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Email">@emailLabel <span class="required">*</span> </label>
                        <input id="Email"
                               class="form-control input-validation-error"
                               type="email"
                               value=""
                               name="Email"
                               placeholder="@emailLabelPlaceholder">
                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="@subject" name="Subject">
                        <input type="hidden" value="@body" name="Body">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="forgotPasswordButton" data-loading-text="@submitting" class="btn btn-success">@Html.Sitecore().Field(Templates.ForgotPassword.Fields.Submit.ToString(), Html.Sitecore().CurrentItem)</button>
                        <a class="btn btn-default" href="@StorefrontManager.StorefrontUri("/Login")">@Html.Sitecore().Field(Templates.ForgotPassword.Fields.Cancel.ToString(), Html.Sitecore().CurrentItem)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 spot-single-image">
                    @Html.Sitecore().Field("Image", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "class", "img-responsive" } } })
                </div>
            </div>
        </div>
    </div>
</form>
